<div class="container">
  <div class="col-sm-6">
    <img src="https://www.insidehighered.com/sites/default/server_files/media/Brandeis%20University.jpg" alt="">
  </div>
  <div class="col-sm-6">
    <p className = 'space'> This is a personal version of Branda that aims to help you 
      survive in this university.
    </p>
    <p className = 'space'> There are three part of this website which are ASK FOR HELP,
      CAFETERIA OPENING, COVID-19. Hope you can find something useful on our webpage. 
    </p>
    
    <p className = 'space'> Stay Safe!</p>
  </div>
</div>
